@media only screen and (max-width : 768px) {
  .cobuilding {
    background: none;
  }
  .cob-main {
    padding: 0 20px 0 30px;
  }
  .header {
    .menu {
      .menu-c {
        .ms {
          overflow: hidden;
          overflow-x: scroll;
          white-space: nowrap;
          a {
            float: none;
            display: inline-block;
          }
        }
      }
    }
  }
  .footer {
    .fm {
      .fm-sect {
        width: (100% / 3);
      }
      .fm-split {
        clear: both;
        margin: 20px 0;
      }
    }
  }
  .sbhead {
    left: 10px;
  }
  .ip-content {
    .sidebar {
      width: 260px;
      .left-margin {
        margin-left: 10px;
      }
    }
    .main {
      padding: 35px 20px 35px 260px;
    }
  }
}

@media only screen and (max-width : 480px) {
  .header {
    height: 170px;
    .logo {
      top: 8px;
    }
    .links {
      top: 65px;
      .links-c {
        text-align: center;
        padding: 0;
      }
    }
    .menu {
      .menu-c {
        display: none;
      }
      .menu-p {
        height: 80px;
        .mi {
          width: (100% / 3);
          a:hover, a.active {
            background: none;
          }
        }
        .mi-home {
          display: none;
        }
        .mi-split {
          clear: both;
        }
      }
    }
  }
  .sbhead {
    display: none;
  }
  .ip-content {
    .sidebar {
      float: none;
      width: 100%;
      background: #CCC;
      .sb-head {
        a {
          margin-left: 0;
          float: left;
          background: none;
          background: #263548;
          width: auto;
          text-indent: 0;
          padding: 5px;
          font-size: 16px;
          line-height: 30px;
          height: 30px;
        }
      }
      .sb-list {
        width: 100%;
        margin: 0;
        a {
          float: left;
          padding: 5px;
          text-indent: 0;
          height: 30px;
          line-height: 30px;
          margin: 0;
          em {
            display: none;
          }
          &:hover, &.active {
            background: #fff;
            color: #666;
          }
        }
      }
      .contactbox {
        display: none;
      }
    }
    .main {
      padding: 20px;
    }
  }
  .footer {
    .fm {
      .fm-sect {
        em {
          margin-left: 10px;
        }
      }
      .fm-subm {
        margin-left: 10px;
      }
    }
  }
}
