---
layout: details-slim.hbs
sidetopcolorlight: "#44864e"
sidetopcolor: "#26482b"
sidetopbg: /images/divide4.1.png
coltitle: 案例
coltitlelink: /cases/
sidelist:
  五星级酒店: /cases/five-star-hotel/
  四星级酒店: /cases/four-star-hotel/
  三星级酒店: /cases/three-star-hotel/
---
<div class="news">
  <div class="divide5"><a href="/cases/">案例</a></div>
  {{>body}}
</div>
