---
layout: details-slim.hbs
sidetopcolorlight: "#595959"
sidetopcolor: "#383838"
sidetopbg: /images/divide4.2.png
coltitle: 领域
coltitlelink: /catalogue/
sidelist:
  酒店客房: /catalogue/hotel/
  公共区域: /catalogue/public/
  酒店餐饮: /catalogue/restaurant/
  酒店办公: /catalogue/office/
  专业固装: /catalogue/fixed/
  酒店沙发: /catalogue/sofa/
---
<div class="news">
  <div class="divide5"><a href="/catalogue/">领域</a></div>
  {{>body}}
</div>
