---
layout: cataloguelist.hbs
---
<div class="list">
  {{#eachIndex posts.catalogue}}
    {{#ifCurrentCategory ../permalink item.data.category}}
      <div class="list-item">
        <a class="list-item-wrapper" href="{{item.data.permalink}}">
          <div class="list-item-image">
            <img alt="{{item.data.title}}" src="{{item.data.image}}">
          </div>
          <em class="list-item-name">{{item.data.title}}</em>
        </a>
      </div>
    {{/ifCurrentCategory}}
  {{/eachIndex}}
  <div class="clearfix"></div>
</div>
