---
layout: details-slim.hbs
pagetype: news
coltitle: 资讯
coltitlelink: /news/
sidelist:
  企业资讯: /news/company/
  行业资讯: /news/industry/
  团队资讯: /news/teams/
---
<div class="news">
  <div class="divide5"><a href="/news/">资讯中心</a></div>
  {{>body}}
</div>
