<div class="contactqq-container left-margin">
  <div class="contactqq">
    <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=416942291&amp;site=qq&amp;menu=yes" target="_blank">
      <img title="请咨询我" alt="请咨询我" src="http://wpa.qq.com/pa?p=2:416942291:41" border="0">
    </a>
    <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=416942291&amp;site=qq&amp;menu=yes" target="_blank">
      <img title="请咨询我" alt="请咨询我" src="http://wpa.qq.com/pa?p=2:416942291:41" border="0">
    </a>
  </div>
  <div class="contactqq">
    <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=416942291&amp;site=qq&amp;menu=yes" target="_blank">
      <img title="请咨询我" alt="请咨询我" src="http://wpa.qq.com/pa?p=2:416942291:41" border="0">
    </a>
    <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=416942291&amp;site=qq&amp;menu=yes" target="_blank">
      <img title="请咨询我" alt="请咨询我" src="http://wpa.qq.com/pa?p=2:416942291:41" border="0">
    </a>
  </div>
  <div class="contactqq">
    <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=416942291&amp;site=qq&amp;menu=yes" target="_blank">
      <img title="请咨询我" alt="请咨询我" src="http://wpa.qq.com/pa?p=2:416942291:41" border="0">
    </a>
    <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=416942291&amp;site=qq&amp;menu=yes" target="_blank">
      <img title="请咨询我" alt="请咨询我" src="http://wpa.qq.com/pa?p=2:416942291:41" border="0">
    </a>
  </div>
</div>
