<div class="contactqq-container left-margin">
  <div class="contactqq">
    邓先生：
    <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2779727190&amp;site=qq&amp;menu=yes" target="_blank">
      <img title="请咨询我" alt="请咨询我" src="http://wpa.qq.com/pa?p=2:2779727190:41" border="0">
    </a>
  </div>
  <div class="contactqq">
    戢小姐：
    <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2953736593&amp;site=qq&amp;menu=yes" target="_blank">
      <img title="请咨询我" alt="请咨询我" src="http://wpa.qq.com/pa?p=2:2953736593:41" border="0">
    </a>
  </div>
  <div class="contactqq">
    张先生：
    <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2735039061&amp;site=qq&amp;menu=yes" target="_blank">
      <img title="请咨询我" alt="请咨询我" src="http://wpa.qq.com/pa?p=2:2735039061:41" border="0">
    </a>
  </div>
  <div class="contactqq">
    销售经理：
    <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2237746235&amp;site=qq&amp;menu=yes" target="_blank">
      <img title="请咨询我" alt="请咨询我" src="http://wpa.qq.com/pa?p=2:2237746235:41" border="0">
    </a>
  </div>
</div>
