---
layout: caseslist.hbs
layout: details-slim.hbs
permalink: /cases/
---
<div class="list">
  {{#eachIndex posts.cases}}
      <div class="list-item">
        <a class="list-item-wrapper" href="{{item.data.permalink}}">
          <div class="list-item-image">
            <img alt="{{item.data.title}}" src="{{item.data.image}}">
          </div>
          <em class="list-item-name">{{item.data.title}}</em>
        </a>
      </div>
  {{/eachIndex}}
  <div class="clearfix"></div>
</div>
