---
layout: caseslist.hbs
permalink: /cases/list/
images:
  - /images/pages/four-star-hotel-01.jpg
  - /images/pages/four-star-hotel-02.jpg
  - /images/pages/four-star-hotel-03.jpg
  - /images/pages/four-star-hotel-04.jpg
  - /images/pages/four-star-hotel-05.jpg
  - /images/pages/four-star-hotel-06.jpg
  - /images/pages/four-star-hotel-07.jpg
  - /images/pages/four-star-hotel-08.jpg
  - /images/pages/four-star-hotel-09.jpg
---
<div class="list">
  {{#eachIndex posts.cases}}
      <div class="list-item">
        <a class="list-item-wrapper" href="{{item.data.permalink}}">
        {{item.data.title}}</em>
        </a>
      </div>
  {{/eachIndex}}
  <div class="clearfix"></div>
</div>
