---
layout: caseslist.hbs
permalink: /cases/list/
images:
  - /images/pages/four-star-hotel-01.jpg
  - /images/pages/four-star-hotel-02.jpg
  - /images/pages/four-star-hotel-03.jpg
  - /images/pages/four-star-hotel-04.jpg
  - /images/pages/four-star-hotel-05.jpg
  - /images/pages/four-star-hotel-06.jpg
  - /images/pages/four-star-hotel-07.jpg
  - /images/pages/four-star-hotel-08.jpg
  - /images/pages/four-star-hotel-09.jpg
---
<div class="list">
            <table class="stable">
              <thead class="stable-head">
                <tr>
                  <td colspan="3">案例列表</td>
                </tr>
              </thead>
              <tbody class="stable-body">
                <tr>
                  <td nowrap>北京市大富豪夜总会</td>
                  <td nowrap>北京市康泰德商贸中心</td>
                  <td nowrap>北京通州金紫银酒店</td>
                </tr>
                <tr>
                  <td nowrap>上海市嘉伟大酒店</td>
                  <td nowrap>江苏省宜兴市官林饭店</td>
                  <td nowrap>扬州江南粤和饮食</td>
                </tr>
                <tr>
                  <td nowrap>山西省大同市同利大酒店</td>
                  <td nowrap>山东威海市荣成石岛宾馆</td>
                  <td nowrap>山东渲州市中海宾馆</td>
                </tr>
                <tr>
                  <td nowrap>山东大连蓝海湾酒店</td>
                  <td nowrap>青岛市海情大酒店</td>
                  <td nowrap>青岛郁金香宾馆</td>
                </tr>
                <tr>
                  <td nowrap>青海西宁三榆大酒店</td>
                  <td nowrap>青海新宁宾馆</td>
                  <td nowrap>南京古南都饭店</td>
                </tr>
                <tr>
                  <td nowrap>天津香粤紫禁城酒楼</td>
                  <td nowrap>天津市金皇大酒店</td>
                  <td nowrap>河源市和平世纪大酒店</td>
                </tr>
                <tr>
                  <td nowrap>郑州西效宾馆</td>
                  <td nowrap>吴川168酒店</td>
                  <td nowrap>湖北石首市文轩大酒店</td>
                </tr>
                <tr>
                  <td nowrap>湖北石首锦绣天香大酒店</td>
                  <td nowrap>湖北省黄石市楚先宋大酒店</td>
                  <td nowrap>湖北乐都酒店</td>
                </tr>
                <tr>
                  <td nowrap>湖北省房县恒通宾馆</td>
                  <td nowrap>湖北石首帝豪大酒店</td>
                  <td nowrap>湖北宜昌博莱尔酒店</td>
                </tr>
                <tr>
                  <td nowrap>湖北宾悦大酒店</td>
                  <td nowrap>武汉市金丰大酒店</td>
                  <td nowrap>湖南郴州市迎宾馆</td>
                </tr>
                <tr>
                  <td nowrap>湖南郴州市辉煌大酒店</td>
                  <td nowrap>湖南郴州市金大陆海鲜酒楼</td>
                  <td nowrap>湖南岳阳市阳江假日大酒店</td>
                </tr>
                <tr>
                  <td nowrap>湖南湘潭市广电宾馆</td>
                  <td nowrap>湖南湘潭市岚园大酒店</td>
                  <td nowrap>湖南邵东市天宏宾馆</td>
                </tr>
                <tr>
                  <td nowrap>湖南麻阳锦江宾馆</td>
                  <td nowrap>湖南衡阳大酒店</td>
                  <td nowrap>湖南益阳市华信大酒店</td>
                </tr>
                <tr>
                  <td nowrap>湖南衡东金城大酒店</td>
                  <td nowrap>湖南长沙锦绣生态农庄</td>
                  <td nowrap>湖南金利华大酒店</td>
                </tr>
                <tr>
                  <td nowrap>湖南蓝山县友谊宾馆</td>
                  <td nowrap>湖南省永州红树林假日酒店</td>
                  <td nowrap>湖南衡阳神龙大酒店</td>
                </tr>
                <tr>
                  <td nowrap>湖南湘潭江南美食宫</td>
                  <td nowrap>湖南汩罗中信大酒店</td>
                  <td nowrap>内蒙古海拉尔宾馆</td>
                </tr>
                <tr>
                  <td nowrap>辽宁省北宁市沟帮子大和酒店</td>
                  <td nowrap>西安空军疗养院</td>
                  <td nowrap>西安杨凌会展酒店</td>
                </tr>
                <tr>
                  <td nowrap>汕头市粤东大酒店</td>
                  <td nowrap>汕尾市海丰新丰盛宾馆</td>
                  <td nowrap></td>
                </tr>
              </tbody>
              <tfoot class="stable-foot">
                <tr>
                  <td colspan="3"></td>
                </tr>
              </tfoot>
            </table>
  <div class="clearfix"></div>
</div>
