---
layout: caseslist.hbs
categories:
  - five-star-hotel
  - four-star-hotel
  - three-star-hotel
permalink: <%= [''].concat(categories).map(function(c) {return '/cases/'+(c?c+'/':'');}).join('\n') %>
---
{{#eachIndex posts.cases}}
{{#ifCurrentCategory ../permalink item.data.category}}
<p>
  <a href="{{item.data.permalink}}">
  <img class="im im_s" alt="{{item.data.title}}" src="{{item.data.image}}">
  {{item.data.title}}
  </a>
</p>
{{/ifCurrentCategory}}
{{/eachIndex}}
