---
layout: caseslist.hbs
permalink: /cases/four-star-hotel/
images:
  - /images/pages/four-star-hotel-01.jpg
  - /images/pages/four-star-hotel-02.jpg
  - /images/pages/four-star-hotel-03.jpg
  - /images/pages/four-star-hotel-04.jpg
  - /images/pages/four-star-hotel-05.jpg
  - /images/pages/four-star-hotel-06.jpg
  - /images/pages/four-star-hotel-07.jpg
  - /images/pages/four-star-hotel-08.jpg
  - /images/pages/four-star-hotel-09.jpg
---
<div class="list">
  {{#eachIndex posts.cases}}
    {{#ifCurrentCategory ../permalink item.data.category}}
      <div class="list-item">
        <a class="list-item-wrapper" href="{{item.data.permalink}}">
          <div class="list-item-image">
            <img alt="{{item.data.title}}" src="{{item.data.image}}">
          </div>
          <em class="list-item-name">{{item.data.title}}</em>
        </a>
      </div>
    {{/ifCurrentCategory}}
  {{/eachIndex}}
  <div class="clearfix"></div>
</div>
