---
layout: cataloguelist.hbs
permalink: /catalogue/
---
{{!-- {{#eachIndex posts.catalogue}}
<p>
  <a href="{{item.filename}}">
  <img class="im im_s" alt="{{item.data.title}}" src="{{item.data.image}}">
  {{item.data.title}}
  </a>
</p>
{{/eachIndex}}
 --}}