---
layout: contact.hbs
permalink: /download/
title: 电子相册下载
---
<div class="news">
  <div class="divide5"><a href="/contact/">电子相册下载</a></div>
</div>
<p>请务必提供真实信息，以便我们提供更专业服务。</p>
<form action="http://www.8html.com:2425/sangeri.php" method="POST" id="contactform">
<input type="hidden" name="redirect" value="http://pan.baidu.com/s/1i3n3Q4l">
<p>联系人：<input type="text" class="person" name="firstname"></p>
<p>联系电话：<input type="text" class="phone" name="telephone"></p>
<p><input class="download" type="submit" value="下载"></p>
</form>
