---
layout: contact.hbs
permalink: /download/
title: 电子相册下载
---
<div class="news">
  <div class="divide5"><a href="/contact/">电子相册下载</a></div>
</div>
<p>请务必提供真实信息，以便我们提供更专业服务。</p>
<form action="http://pan.baidu.com/s/1i3n3Q4l" method="POST" id="contactform">
<p>联系人：<input type="text" class="person"></p>
<p>联系电话：<input type="text" class="phone"></p>
<p><input type="submit" value="下载"></p>
</form>
