---
layout: newslist.hbs
permalink: /news/
title: 资讯
---
<div class="news">
  <div class="divide5"><a href="/news/">资讯</a></div>
<div class="newslist">
  {{#eachReverse pages}}
  {{#objContains data "category"}}
    <div class="newslistitem">
      <em>{{formatDate data.date "%Y-%m-%d"}}</em>
      <a href="{{data.permalink}}">{{data.title}}</a>
    </div>
  {{/objContains}}
  {{/eachReverse}}
</div>
</div>
