---
layout: sangeri.hbs
permalink: /sangeri/about/
---
<p><a href="/sangeri/about/"><img alt="公司简介" src="/images/small/1-1.jpg" style="vertical-align: middle; margin-right: 5px;"></a></p>
<p>佛山市顺德区龙江镇香格伊酒店家具厂，地处经济发达的珠三角腹地，毗邻深圳、珠海、东莞、中山等各大城市，是一家专业生产酒店配套家具的厂家，创办于上世纪80年代，实用车间23000多平方米，引进国外先进的机械设备和生产工艺，形成集酒店双人卧房系列、豪华套房系列、总统套房系列、酒店沙发系列、酒店餐饮系列、酒店椅和酒店配套家具系列，产品遍及全国三十多个省市地区的各大星级酒店，宴会厅、中西餐厅、会所等。</p>
<p>香格伊酒店家具经过近十年的艰苦创业，开拓进取，公司得到了壮大和发展，在“质量第一，顾客至上”的服务宗旨下，公司诚邀了个类优秀的管理人才和技术专业人才加盟，加强生产管理和完善售后服务，令我们的产品无论从选料、设计到工艺上都体现了独特的品质和风格。</p>
<p>随着中国加入WYO，香格伊酒店家具将建立全新的营销理念，实施名牌战略，根据企业的市场定位，进行超前性产品开发，为各方客商提供更优质的产品和服务，做消费者最愿意接受的酒店品牌是“香格伊”的使命。</p>
