---
layout: sangeri.hbs
permalink: /about/
title: 公司简介
---
<div class="news"><div class="divide5"><a href="/about/">公司简介</a></div></div>
<p style="font-size:14px">佛山市香格伊酒店家具制造有限公司设立在经济发达的珠三角腹地—顺德，毗邻深圳、珠海、东莞、中山等各大城市，是一家专业生产酒店配套家具的厂家，创办于上世纪80年代，实用车间23000多平方米，引进国外先进的机械设备和生产工艺，形成集酒店双人卧房系列、豪华套房系列、总统套房系列、酒店沙发系列、酒店餐饮系列、酒店椅和酒店配套家具系列，产品遍及全国三十多个省市地区的各大星级酒店，宴会厅、中西餐厅、会所等。</p>
<p style="font-size:14px">香格伊酒店家具经过近十年的艰苦创业，开拓进取，公司得到了壮大和发展，在“质量第一，顾客至上”的服务宗旨下，公司诚邀了个类优秀的管理人才和技术专业人才加盟，加强生产管理和完善售后服务，令我们的产品无论从选料、设计到工艺上都体现了独特的品质和风格。公司所属各部门员工年轻，有活力，为全球客户提供热情周到的服务，年轻的管理团队，产品设计部门及业务部等全体员工将热情欢迎您的到来。</p>
<p style="font-size:14px">香格伊有着严格的管理程序和自我研发的生产流程，满足每个大小酒店，会所，餐厅工程，同时满足客户个性化需求，将客户带给我们的想法，理念进行归纳，分析，细化，处理，最后的产品就是您所想所要并呈现到您的面前。香格伊酒店家具发展得益于对于国内外市场有着独到见解，在产品发展方向中有着敏锐的嗅觉。优秀产品设计能力，让每年众多客户得到个性化的满足。</p>
<p style="font-size:14px">随着中国加入WTO，香格伊酒店家具将建立全新的营销理念，实施名牌战略，根据企业的市场定位，进行超前性产品开发，为各方客商提供更优质的产品和服务，做消费者最愿意接受的酒店品牌是“香格伊”的使命。</p>
<p><img alt="公司简介" src="/images/about-article.jpg"></p>