---
layout: sangeri.hbs
permalink: /honors/
title: 企业荣誉
---
<div class="news">
  <div class="divide5"><a href="/honors/">企业荣誉</a></div>
</div>
<div class="list">
  <div class="list-item">
    <div class="list-item-wrapper">
      <div class="list-item-image">
        <img src="/images/honors/1.jpg">
      </div>
      <em class="list-item-name">体育成就奖</em>
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-wrapper">
      <div class="list-item-image">
        <img src="/images/honors/3.jpg">
      </div>
      <em class="list-item-name">家具协会会员</em>
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-wrapper">
      <div class="list-item-image">
        <img src="/images/honors/5.jpg">
      </div>
      <em class="list-item-name">乐从家具协会常任理事</em>
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-wrapper">
      <div class="list-item-image">
        <img src="/images/honors/9.jpg">
      </div>
      <em class="list-item-name">百强商户</em>
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-wrapper">
      <div class="list-item-image">
        <img src="/images/honors/10.jpg">
      </div>
      <em class="list-item-name">诚信店</em>
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-wrapper">
      <div class="list-item-image">
        <img src="/images/honors/11.jpg">
      </div>
      <em class="list-item-name">十佳诚信经销商</em>
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-wrapper">
      <div class="list-item-image">
        <img src="/images/honors/7.jpg">
      </div>
      <em class="list-item-name">进出口承诺书</em>
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-wrapper">
      <div class="list-item-image">
        <img src="/images/honors/12.jpg">
      </div>
      <em class="list-item-name">床头柜检验报告</em>
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-wrapper">
      <div class="list-item-image">
        <img src="/images/honors/13.jpg">
      </div>
      <em class="list-item-name">围椅检验报告</em>
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-wrapper">
      <div class="list-item-image">
        <img src="/images/honors/14.jpg">
      </div>
      <em class="list-item-name">环评证书</em>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
