---
layout: sangeri.hbs
permalink: /advantages/
title: 行业优势
---
<div class="news">
  <div class="divide5"><a href="/advantages/">行业优势</a></div>
</div>
<p>生产实力雄厚</p>
<p>6000万元总资产，50000平方米现代化生产厂房，保证生产</p>
<p>引进德国、意大利、台湾等国家及地区的进口机械设备和技术多年来一直服务于星级以上的酒店</p>
<p>超强品质保障</p>
<p>全部生产线采用进口或国内优质原材料</p>
<p>所有产品均经过严格的安全及环保测试所有产品确保达到优质水平及安全标准</p>
<p>多重企荣誉，信誉AAA级可靠</p>
<p>价格最优，超优增值</p>
<p>厂家直销，减免重重中间商税扣</p>
<p>同行业同材同质产品，价格最优</p>
<p>模拟示范，免费电脑辅助设计</p>
<p>售后最全，保障最高</p>
<p>非人为所致情况下保质一年，厂家终身维护</p>
<p>非人为状况发生质量问题，我们包修、包换、退款</p>
<p>产品保用一年，专业安装与维修保养</p>
