---
permalink: /sangeri/
---
<div class="content">
  <div class="sliderkit ip-slider">
    <div class="sliderkit-nav">
      <div class="sliderkit-nav-clip">
        <h3>TITLE</h3>
        <ul>
          <li><a href="#"><img src="/images/ipslide_1.jpg"></a></li>
          <li><a href="#"><img src="/images/ipslide_2.jpg"></a></li>
          <li><a href="#"><img src="/images/ipslide_3.jpg"></a></li>
          <li><a href="#"><img src="/images/ipslide_4.jpg"></a></li>
          <li><a href="#"><img src="/images/ipslide_1.jpg"></a></li>
          <li><a href="#"><img src="/images/ipslide_2.jpg"></a></li>
          <li><a href="#"><img src="/images/ipslide_3.jpg"></a></li>
          <li><a href="#"><img src="/images/ipslide_4.jpg"></a></li>
        </ul>
      </div>
    </div>
    <div class="sliderkit-panels">
      <div class="sliderkit-panel">
        <img src="/images/ipslide_1.jpg">
      </div>
      <div class="sliderkit-panel">
        <img src="/images/ipslide_2.jpg">
      </div>
      <div class="sliderkit-panel">
        <img src="/images/ipslide_3.jpg">
      </div>
      <div class="sliderkit-panel">
        <img src="/images/ipslide_4.jpg">
      </div>
      <div class="sliderkit-panel">
        <img src="/images/ipslide_1.jpg">
      </div>
      <div class="sliderkit-panel">
        <img src="/images/ipslide_2.jpg">
      </div>
      <div class="sliderkit-panel">
        <img src="/images/ipslide_3.jpg">
      </div>
      <div class="sliderkit-panel">
        <img src="/images/ipslide_4.jpg">
      </div>
    </div>
    <div class="sbhead"></div>
  </div>
  <div class="ip-content">
    <div class="sidebar">
      <div class="sb-head">案例</div>
      <div class="sb-list">
        <a href="/sangeri/about/">公司简介 <em>&#10095;</em></a>
        <a href="/sangeri/history/">企业历史 <em>&#10095;</em></a>
        <a href="/sangeri/advantages/">行业优势 <em>&#10095;</em></a>
        <a href="/sangeri/honors/">企业荣誉 <em>&#10095;</em></a>
      </div>
      <div class="contactbox">
        <a href="/contact/" class="contactimg">联系我们</a>
      </div>
    </div>
    <div class="main">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    <div class="clearfix"></div>
  </div>
</div>
