---
layout: sangeri.hbs
permalink: /sangeri/history/
---
<p>
  <a href="/sangeri/history/">
  <img alt="企业历史" src="/images/small/1-2.jpg" style="vertical-align: middle; margin-right: 5px;">
  企业历史
  </a>
</p>
