---
layout: sangeri.hbs
permalink: /sangeri/about/
---
<p>
  <a href="/sangeri/about/">
  <img alt="公司简介" src="/images/small/1-1.jpg" style="vertical-align: middle; margin-right: 5px;">
  公司简介
  </a>
</p>
